*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
}
.container{
    height: 60vh;
    /* border: solid; */
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}
.message{
    background-color: rgb(0, 128, 74);
    max-width: 70%;
    width: fit-content;
    margin: 20px;
    padding: 10px;
    border: solid black ;
    border-radius: 10px;

}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
    background-color: rgb(0, 145, 142);
}
#send-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
#messageInp{
    width: 58vw;
    margin: 20px;
    height: 30px;
    background-color: rgb(79, 79, 79);
    padding: 20px 10px ;
    border: none;
    color: white
    ;
}
nav{
    background-color: rgb(54, 54, 54);
    padding: 1%;
}
.btn{
    border: solid 2px black;
    color: black;
    background: white;

}
